.form-quiz button {
    background-color: #032d4d;
    color: #ffffff;
    border: 1px solid #000000;
    padding: 5px;
    width: 70px;
    transition: all 0.2s;
}

.form-quiz button:hover {
    cursor: pointer;
    background-color: #0d3e64;
    transform: scale(1.02);
}

.form-quiz textarea {
    margin: 0;
}

p.error {
    color: rgb(188, 8, 8);
    font-weight: bold;
    font-size: 20px;
}