button.nav {
    font-size: 17px;
    color: rgb(255, 255, 255);
    background-color: rgb(4, 47, 113);
    transition: all 0.15s;
    margin-right: 10px;
}
button.nav:hover {
    transform: scale(1.015);
    cursor: pointer;
}