button {
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(43, 104, 235);
    margin-right: 10px;
    transition: all 0.3s ease;
}
button:hover {
    transform: scale(1.05);
    cursor: pointer;
}